* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: #00175F;
    font-family: "Poppins", sans-serif;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #00175F;
    font-family: sans-serif;
}

.header h1 {
    color: white;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 3rem;
}

.logo {
    width: 100vw;
    margin: 15px;
    text-align: center;
}

.logo img {
    margin: 20px auto;
    cursor: pointer;
}


/* <!-- Jump To --> */

.container {
    border: 12px solid firebrick;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 100vw;
    height: auto;

}



.sidebar {
    border: 2px solid red;
    font-weight: 800;
    background-color: #fff;
    padding: 30px;
    margin-right: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 20%;
}

.sidebar h2 {
    color: #00175F;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    color: #00175F;
}

.sidebar li {
    margin-bottom: 10px;

}

.sidebar li a {
    color: #00175F;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.sidebar li a:hover {
    background-color: #e0e0e0;
}

/* Men's Team Rankings */


.content {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* width: calc(100% - 300px); */
    width: 70%;

}




.content h1 {
    color: #00175F;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.content .ranking-table {
    display: flex;
    justify-content: space-between;
    
}

.ranking-table .ranking-category {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% / 3 - 20px);
    margin-bottom: 20px;
   
}

.ranking-category h2 {
    margin-bottom: 10px;
}

.ranking-category ul {
    list-style: none;
    padding: 0;
}

.ranking-category li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}

.ranking-category li .flag {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.ranking-category li .ranking {
    font-weight: bold;
}

.ranking-category .full-rankings {
    color: #333;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.ranking-category .full-rankings:hover {
    background-color: #e0e0e0;
}

    /* next */

.content-1{
    
 background-color: #fff;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 /* width: calc(100% - 300px); */
 width: 70%;
}

.ranking-table-1{
    display: flex;
    justify-content: space-between;

}