\*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100%;
    /* overflow-x: hidden;  */
}


/*-----header section------*/
.top-section{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: space-around; 
    height:30vh;
    width:100vw;
    overflow-x: scroll;
}
.box{
    background-color: white;
    /* border: 3px solid black; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    width: 23vw;
    flex: 0 0 23vw;
    /* flex: 1 1 calc(33.333% - 40px); Responsive grid */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    flex-grow: 1;
    font-size: 14px;
    color: #333;
}

.status {
    display: flex;
    flex-direction:column;
    gap: 6px;
    .test{
        color:green;
    }
    .t20{
        color:purple
    }
    .odi{
        color:skyblue;
    }
}

.status span {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;

}

.body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.flags {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.flags span {
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    height:20px;
}



.scores {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
    font-size: 14px;
}

p {
    font-size: 12px;
    margin-top: 10px;
    color: #666;
}

button {
    margin: 15px 0;
    padding: 10px;
    color: #0056b3;
    border: 1px solid grey;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;

    span{
        font-weight: 900;
        padding-left:10px;
    }
}

/* button:hover {
    background-color: #0056b3;
} */

hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 15px 0;
}



/*-----------hero-section--------*/
.hero-section{
    background-color: #00175F;
    height: 120vh;
    width:100%;
    position: relative;
}
.hero-image{
    background-image: linear-gradient(to top,rgba(0,0,255,0.6),rgba(0,0,0,0.4)),url('https://images.icc-cricket.com/image/upload/t_ratio16_9-size50/prd/o6otfpue4lmzlvdf5ovm');
    background-size: cover;
    background-repeat: no-repeat;
    width:97%;
    border-radius:20px;
    margin:20px;
    height:75vh;
    position:absolute;

}


/*----nav-bar-----*/
.sticky{
    position:sticky;
    top:0;
    z-index: 1000;
    display:flex;
    gap:20px;
    justify-content:space-between;
    align-items: center;
    color:white;
    text-transform: uppercase;
    width:100%;
    padding:10px 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #00175F;

    
    a img{
        margin-top: 4px;
        height:40px;
        width:80px;
    }
}

.logo{
    
    display:flex;
    gap:20px;
    align-items: center;
    font-size:1.5rem;
}

.menu-bar ul{
    display:flex;
    justify-content: flex-start;
    gap: 10px;
    margin-right:8rem;
}

.menu-bar ul li{
    list-style-type: none;

    a{
        text-decoration: none;
        color:white;
        font-size:10px;
        font-weight: 700;
    }
}
.search{
    display:flex;
    padding-left:34vw;
    gap:20px;
    font-size:10px;
    font-weight: 700;

    i{
        font-size: 1.2rem;
        padding:5px;
    }

    span{
        display: inline-block;
        gap:5px;
        vertical-align:super;

    }
}




    nav{
        display:flex;
        gap:17px;
        justify-content: flex-start;
        align-items: center;
        padding:10px;
        font-size: 10px;
        font-weight: 700;
    }

        a{
            color:white;
            text-decoration: none;
            cursor: pointer;

        }

    

    .hr{
        margin:0;
    }





/*---live-section---*/
.live{
    h2{
        font-size: 2rem;
        font-weight: 700;
        padding:20px 10px;
        color:#00175F;
        text-transform: uppercase;
    }
}

.live-content{
    height:30vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    p{
        font-size:1.5rem;
    }
}

/*---ICC-TV,family-section-----*/
.icctv,.family{
    display:flex;
    background-color: #00175F;
    height:70vh;
}




.tv-content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left:20px;

    img{
        height:150px;
    }

    .icc-tv{
        height: 45px;
        width: 250px;
        font-size: 10px;
        font-weight: 700;
        color: #00175F;
        text-transform: uppercase;
        text-align: center;
    }

    .para-tv{
        color:white;
        font-size: 18px;
        font-weight: 500;
    }
}

.family {
    .tv-content{
        img{
            height:60px;
        }
    }
}

.image-tv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-tv img{
    height: 56vh;
    width:55vw;
    

}


/*----footer-section-----*/

.end-page{
    padding-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.values{
    text-align: center;
    padding-bottom:10px;
    padding-top:6px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color:#666;
}

.footer-hr{
    border:1px solid rgba(255,255,255,0.7);
    width:45%;
}

.p-logos{
    display:flex;
    gap:15px;

    img{
        width:150px;
        height:50px;
    }
}

.p-logos-sm{
    display:flex;
    gap:15px;
    justify-content: center;

    img{
        width:100px;
        height:30px;
    }
}

.all-supports{
    display:flex;
    gap:40px;
    justify-content: center;
}

.social-media{
    display:flex;
    justify-content: center;
    font-size:1rem;
    
}

.social-icons{
    display:flex;
    gap:10px;
    padding:20px 0;
    color:#BEBEBE;
}
.social-icons i{
    border-radius:50%;
    border:1px solid #BEBEBE;
    padding:12px;
}

.terms{
    display:flex;
    gap:30px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding-bottom:25px;
}
.terms a{
    text-decoration: none;
    color:#00175F;
}


.copyright{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;

    img{
        height:20px;
        width: 50px;
    }

    p{
        padding-bottom:40px;
    }
}
