*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----amisha's work----- */

/* --updated header section--- */
.top-section{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 18px;
    justify-content: space-around; 
    height:30vh;
    width:100vw;
    overflow-x: scroll;
    overflow-y:hidden;
}
.box{
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    width: 23vw;
    flex: 0 0 23vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    flex-grow: 1;
    font-size: 14px;
    color: #333;
    
    b{
        color:black;
    }
}

.status {
    display: flex;
    flex-direction:column;
    gap: 6px;
    .test{
        color:green;
    }
    .t20{
        color:purple
    }
    .odi{
        color:skyblue;
    }
}

.status span {
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;

}

.bar{
    padding:0 4px;
    border:1px solid rgba(255,255,255,0.5);
}

.body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.flags {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
}

.flags span {
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    height:20px;
}



.scores {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: right;
    font-size: 14px;
}

p {
    font-size: 12px;
    margin-top: 10px;
    color: #666;
    width:15vw;
}

button {
    margin: 12px 0;
    padding: 8px;
    color: #0056b3;
    border: 1px solid grey;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;

    span{
        font-weight: 900;
        padding-left:10px;
    }
}


hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 15px 0;
}

/* -----scroll-property---- */

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px;
}

.top-section:hover::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}








/*-----------hero-section--------*/



/*----nav-bar-----*/
.sticky{
    position:sticky;
    top:0;
    z-index: 1000;
    display:flex;
    gap:20px;
    justify-content:space-between;
    align-items: center;
    color:white;
    text-transform: uppercase;
    width:100%;
    padding:10px 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #00175F;

    
    a img{
        margin-top: 4px;
        height:40px;
        width:80px;
    }
}

.logo{
    display:flex;
    gap:20px;
    align-items: center;
    font-size:1.5rem;
}

.menu-bar{
    width: 66%;
    border-left: 1px solid;
    padding-left: 50px;
}

.menu-bar ul{
    display:flex;
    justify-content: flex-start;
    gap: 30px;
    margin-right:8rem;
}

.menu-bar ul li{
    list-style-type: none;

    a{
        text-decoration: none;
        color:white;
        font-size:10px;
        font-weight: 700;
    }
}
.search{
    display:flex;
    /* padding-left:34vw; */
    gap:20px;
    font-size:10px;
    font-weight: 700;

    i{
        font-size: 1.2rem;
        padding:5px;
    }

    span{
        display: inline-block;
        gap:5px;
        vertical-align:super;

    }
}




/* ----my-work---- */
.teams-category-container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 40px;
    background-color: #f9f9f9; /* bg-light-background */
    margin-right: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-module */
   
}

.tc-d1 h2{
    font-size: 38px;
    font-weight: bold;
    color: #1d4070;
}

.tc-d2{
    padding-bottom: 10px;
}
.tc-d2 a{

    font-family: 'YourCustomFont', sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-inline-end: 25px;
    text-decoration: none;
    color: #6b7280;
}

.tc-d2 :first-child{ 
    color: #1f2937;
    border-bottom: 3px solid #1f2937;
     padding-bottom: 4px;
  
}

.teams-container{
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}

.content{
    border-radius: 15px;
    background-color: #00165f;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 60px;
}

.ICC-logo{
    position: absolute;
    bottom: -48px;
    left: 10px;
    height: 200px;
   
}

.into-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    .image{
        background: white;
    border-radius: 50%;
    padding: 15px
    }
    img{
        width: 70px;
        height: 70px;
      
        /* border-radius: 50%; */
        /* padding: 10px; */
    }

}

.team-name{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.team-profile button{
    border: none;
    width: 200px;
    font-weight: bold;
    border-radius: 9999px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #007BFF;
}


/*----footer-section-----*/

.end-page{
    padding-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.values{
    text-align: center;
    padding-bottom:10px;
    padding-top:6px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color:#666;
}

.footer-hr{
    border:1px solid rgba(255,255,255,0.7);
    width:45%;
}

.p-logos{
    display:flex;
    gap:15px;

    img{
        width:150px;
        height:50px;
    }
}

.p-logos-sm{
    display:flex;
    gap:15px;
    justify-content: center;

    img{
        width:100px;
        height:30px;
    }
}

.all-supports{
    display:flex;
    gap:40px;
    justify-content: center;
}

.social-media{
    display:flex;
    justify-content: center;
    font-size:1rem;
    
}

.social-icons{
    display:flex;
    gap:10px;
    padding:20px 0;
    color:#BEBEBE;
}
.social-icons i{
    border-radius:50%;
    border:1px solid #BEBEBE;
    padding:12px;
}

.terms{
    display:flex;
    gap:30px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding-bottom:25px;
}
.terms a{
    text-decoration: none;
    color:#00175F;
}


.copyright{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;

    img{
        height:20px;
        width: 50px;
    }

    p{
        padding-bottom:40px;
    }
}
